.cli-window{
    height:100%;
    overflow-y:auto;
    padding-bottom:10rem;
    background-color:black;

    div[name="react-console-emulator"]{
        height:100%;
        background-color: transparent !important;
    }
}