*{
  padding : 0;
  margin: 0;
  box-sizing : border-box;
}
html,body{
  height : 100%;
  width : 100%;
}
body{
  font-family : Arial, Helvetica, sans-serif;
  background-color : #111;
  color : white;
}

.user-card{
  height: 300px;
  width: 200px;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  font-size: 2rem;
}
button{
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
  scale: 0.95
}
button:hover{
  scale: 1;
  cursor: pointer;
}
.all-cards{
  display: flex;
  flex-wrap: wrap;
}